@use "../utils" as *;

// section medias
.photograph-medias {
    // width: 90%;
    margin: auto;

    & .photograph-medias__filters {
        display: flex;
        gap: 2rem;
        margin-top: 1rem;
        align-items: baseline;

        &--title {
            line-height: 1rem;
            font-size: 1.25rem;
        }
    }

    &-menu__active {
        position: relative;
        align-self: flex-start;

        &--list {
            position: absolute;
            top: 0;
            z-index: 20;
            line-height: 3.125rem;
            padding-left: 0;
            color: $colorText-light;
            background-color: $colorPrimary;
            border-radius: 5px;
            width: 170px;
            padding: 0.8em;
            font-size: 1.25rem;
            font-weight: 500;
            text-align: center;
        }
    }
}