@use "../utils" as *;

// section medias
.photographerMedias {
    // width: 90%;
    margin: auto;

    &__filters {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        margin-top: 0.6rem;
    }
}