@use "../utils" as *;

.btn {
    font-size: 1.25rem;
    font-weight: 500;
    color: $colorText-light;
    padding: 0.7em;
    width: 170px;
    height: 70px;
    border: none;
    background-color: $colorPrimary;
    border-radius: 5px;
    cursor: pointer;
    font-family: "DM Sans", sans-serif;

    &:hover { background-color: $colorSecondary; color: black;}
    &:focus { background-color: $colorSecondary; color: black;}

    &__contact {
        margin-top: 1.5rem;
    }

    &__lightbox {
        width: 2rem;
        height: 2rem;
        border-right: 8px solid $colorPrimary;
        border-top: 8px solid $colorPrimary;
    }

    &__lightbox-close {
        position: absolute;
        top: 40px;
        left: 11px;
        filter: brightness(0) saturate(100%) invert(13%) sepia(85%) saturate(3204%) hue-rotate(349deg) brightness(88%) contrast(92%);
    }
}