@use "../utils" as *;

.filtersMenu {
    position: relative;
    align-self: flex-start;

    &-active {
        position: absolute;
        left: 0;
        z-index: 20;
        line-height: 50px;
        padding-left: 0;
    }

    &__list {
        border-radius: 5px;
        position: absolute;
        z-index: 10;
        margin: 0;
        padding: 0;
        overflow: hidden;

        &--item {
            position: relative;
        }

        &--item::before {
            content: "";
            position: absolute;
            border-bottom: 1px solid white;
            width: calc(100% - 22px);
            bottom : 0;
        }

        &--item:last-child::before {
            border: none;
        }
    }
}