@use "../utils" as *;

.mediaCard {
    color: $colorPrimary;
    position: relative;
    width: 350px;
    
    &__media{
        height: 300px;
        width: 350px;
        max-width: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    &__infos {
        display: flex;
        line-height: 2rem;
        justify-content: space-between;
        
        &--title {
            font-size: 1rem;
        }

        &--likes {
            font-weight: 500;
            width: 100px;
            text-align: right;
        }
    }
}